* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
}

.hero {
    display: flex;
    min-height: 80.5rem;
    width: 190.2rem;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #E554731A;
}

.hero-info h1 {
    font-size: 8rem;
    font-weight: 800;
}

.hero-info p {
    font-size: 1.8rem;
    margin: 3.2rem 0;
}

.default-btn {
    padding: 2rem 4.3rem;
    color: white;
    border-radius: 0.8rem;
    background: #E55473;
    border: 0;
    font-size: 2rem;
}

.hero-img {
    margin-top: 5rem;
}

/* features section starts here  */
.features {
    margin-top: 17.8rem;
    margin-bottom: 10rem;
}

.features h2 {
    font-size: 4rem;
    font-weight: 800;
    text-align: center;
}

.features p {
    font-weight: 400;
    line-height: 30px;
    font-size: 1.8rem;
    text-align: center;
    margin-top: 2.4rem;
    margin-bottom: 4.8rem;
}

.flowers {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 3.2rem;
    gap: 2.4rem;

}



.flowers .img1 {
    padding: 10.17rem 7.8rem 0 7.6rem;
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    display: flex;
}

.flowers .img2 {
    padding: 11.7rem 4.7rem 5.1rem 4.7rem;
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);

}

.flowers .img3 {
    padding: 6.7rem 7.5rem 0 7.5rem;
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}

.titles {
    display: flex;
    flex-flow: row;
    justify-content: center;
    gap: 35rem;
    font-weight: 700;
    font-size: 1.2rem;
    text-decoration: underline;
    margin-bottom: 12.8rem;
}

.ext-features {
    width: 1440px;
    height: 320px;
    flex-shrink: 0;
    text-align: center;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.ext {
    display: flex;
    gap: 10rem;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    color: rgba(39, 39, 39, 0.80);
}

.ext img {
    margin-bottom: 2.4rem;
}

.delivery-info,
.flower-info,
.support-info {
    text-align: center;

}

/* hot deal section starts here  */
.hot-deal {
    width: 1922px;
    height: 620px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20.15rem;
    margin-bottom: 10.28rem;
}

.hot-text p {
    font-weight: 400;
    line-height: 30px;
    font-size: 1.8rem;
    margin-top: 2.4rem;
    margin-bottom: 4.8rem;
    color: rgba(39, 39, 39, 0.80);
}

.hot-text h1 {
    font-size: 3rem;
    font-style: normal;
    font-weight: 800;
    font-weight: 800;
}

.hot-text span {
    color: #E55473;
}

/* insta section starts here  */
.insta {
    margin: 0 auto;
    width: 1440px;
    margin-bottom: 12.8rem;
}

.insta-text {
    margin-bottom: 4.8rem;
    text-align: center;
    text-align: center;
}

.insta-text h1 {
    font-size: 40px;
    font-weight: 800;
    color: #272727;
    margin-bottom: 2.4rem;

}

.insta-text p {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 3rem;
    color: rgba(39, 39, 39, 0.60);
}

.insta-img {
    display: flex;
    justify-content: center;
    gap: 2.4rem;
}

/* latest deals starts here  */
.latest-deals {
    width: 1440px;
    height: 449px;
    background-image: url("Rectangle\ 9.png");
    margin: 0 auto;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 12.8rem;
}

.latest-deals h1 {
    color: #272727;
    text-align: center;
    font-size: 4rem;
    font-weight: 800;
}

.latest-deals p {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 3rem;
    margin-top: 1.6rem;
    margin-bottom: 4.6rem;

}

.latest-deals input {
    width: 700px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FFF;
    color: rgba(39, 39, 39, 0.60);
    font-size: 1.6rem;
    font-weight: 400;
    border: none;
    text-align: center;
}



.latest-deals div {
    display: flex;
    justify-content: center;
    gap: 1.6rem;
}

/* blog section starts here  */
.blog-post {
    margin-top: 9.3rem;
    margin-bottom: 7rem;
}

.blog-info {
    text-align: center;
}

.blog-info h2 {
    color: #E72463;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 34px;
}

.blog-info h1 {
    font-size: 3.6rem;
    font-weight: 700;
    padding-bottom: 25px;
}

.posts {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.post {
    max-width: 34rem;
    /* border: 1rem solid rgb(255, 204, 128); */
    box-shadow: 1px 1px 10px 1px rgba(209, 209, 209, 0.5);
}

.post .post-text {
    padding: 2.5rem 3rem 2.5rem;
    line-height: 1.6;
}

.post-text h1 {
    font-size: 2.2rem;
    color: #010101;
}

.post-text h5 {
    color: #7a7a7a;
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 2.6;
}

.post-text p {
    font-weight: 400;
    color: #484848;
    font-size: 1.6rem;
}

.post-text h4 {
    color: #333;
    font-size: 1.5rem;
    line-height: 2.6;
}

.post-text h4 a {
    text-decoration: none;

}

/* footer section starts here  */
footer {
    width: 1922px;
    min-height: 449px;
    flex-shrink: 0;
    background: #111010;
    text-align: center;
    padding: 210px 649px 0 648px;
    padding-bottom: 12.8rem;
}

.ful {
    color: #E55473;
    font-size: 4.8rem;
    font-weight: 800;
}

.dokan {
    color: #FFF;
    font-size: 4.8rem;
    font-weight: 800;
}

footer p {
    color: rgba(255, 255, 255, 0.90);
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 3rem;
    margin: 24px 0 32px 0;
}

#info {
    color: rgba(255, 255, 255, 0.40);
    font-size: 16px;
    font-weight: 400;

}